@page "/wish"
@inject OrderState OrderState

<div class="main">
            @if (OrderState.WishList.Any()) {
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>Book Name</TableHeaderCell>
                            <TableHeaderCell>Author</TableHeaderCell>
                            <TableHeaderCell>Base Price</TableHeaderCell>
                            <TableHeaderCell>Add to Basket</TableHeaderCell>
                            <TableHeaderCell>Remove</TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    @foreach (var wishList in OrderState.WishList) {        
                        <TableBody>
                            <TableRow>
                                <TableRowCell>@wishList.Book.Name</TableRowCell>
                                <TableRowCell>@wishList.Book.Description</TableRowCell>
                                <TableRowCell>@wishList.Book.BasePrice</TableRowCell>

                                    <TableRowCell><Button @onclick="@(() => OrderState.ShowConfigureBookDialog(wishList.Book))">+</Button></TableRowCell>
                                
                                @if(wishList.Id != -1) {
                                    <TableRowCell><Button @onclick="@(() => OrderState.RemoveFromWishList(wishList.Id))">x</Button></TableRowCell>
                                }
                            </TableRow>
                        </TableBody>
                    }
                </Table>
            } else {
                <div class="mx-auto">
                    <h1>Empty Wish-List</h1>
                    <Button><a href="/">Get Books</a></Button>
                </div>
            }
            <TemplatedDialog Show="OrderState.ShowingConfigureDialog">
                <ConfigureBookDialog
                    BookCustom="OrderState.ConfiguringBook"
                    OnCancel="OrderState.CancelConfigureBookDialog"
                    OnConfirm="OrderState.ConfirmConfigureBookDialog" />
            </TemplatedDialog>
</div>

@code{

    protected async override Task OnInitializedAsync() {
        await OrderState.GetWishes();
    }
    protected override void OnParametersSet() {
        OrderState.OnChange += StateHasChanged;
    }
    public void Dispose() {
        OrderState.OnChange -= StateHasChanged;
    }
}